/* Background */

body{
margin:0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

background: linear-gradient(135deg,#141E30,#243B55);

height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:white;
}

/* Mobile Wallet Container */

.phone{

width:360px;

padding:25px;

border-radius:25px;

background:rgba(255,255,255,0.08);

backdrop-filter: blur(15px);

box-shadow:0 20px 40px rgba(0,0,0,0.5);

text-align:center;

}

/* Title */

h2{

margin-bottom:20px;

letter-spacing:1px;

}

/* Input Fields */

.form input{

width:100%;

padding:12px;

margin:8px 0;

border:none;

border-radius:8px;

outline:none;

font-size:14px;

}

/* Button */

button{

width:100%;

padding:13px;

margin-top:10px;

border:none;

border-radius:8px;

background:linear-gradient(135deg,#00c6ff,#0072ff);

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.05);

box-shadow:0 5px 15px rgba(0,0,0,0.4);

}

/* Digital ID Card */

.card{

margin-top:20px;

padding:20px;

border-radius:18px;

background:linear-gradient(135deg,#4facfe,#00f2fe);

color:black;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

/* Staff details */

#staffDetails{

font-size:15px;

margin-top:10px;

line-height:1.6;

}

/* QR Code area */

#qrcode{

margin-top:15px;

display:flex;

justify-content:center;

}

/* Verification Page Card */

.verify-card{

background:white;

padding:35px;

border-radius:15px;

width:320px;

text-align:center;

color:black;

box-shadow:0 10px 25px rgba(0,0,0,0.3);

}

/* Verified Text */

.verified{

color:green;

font-size:22px;

font-weight:bold;

}

/* Invalid Text */

.invalid{

color:red;

font-size:20px;

font-weight:bold;

}
