body{

margin:0;
font-family:Arial;
background:#0f2027;
background:linear-gradient(135deg,#2c5364,#203a43,#0f2027);

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.phone{

width:360px;
background:#1e1e1e;
padding:25px;
border-radius:20px;
color:white;
box-shadow:0 10px 25px rgba(0,0,0,0.4);

}

h2{

text-align:center;
margin-bottom:20px;

}

.form input{

width:100%;
padding:10px;
margin:8px 0;
border-radius:6px;
border:none;

}

button{

width:100%;
padding:12px;
background:#4CAF50;
border:none;
border-radius:6px;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#43a047;

}

.card{

margin-top:20px;
padding:20px;
border-radius:15px;
background:linear-gradient(135deg,#4e54c8,#8f94fb);
text-align:center;

}

#qrcode{

margin-top:15px;
display:flex;
justify-content:center;

}

.verify-card{

background:white;
padding:40px;
border-radius:12px;
text-align:center;
width:320px;

}

.verified{

color:green;
font-size:20px;
font-weight:bold;

}

.invalid{

color:red;
font-size:20px;

}
